@media screen and (max-width: 768px) {
    #desktop-nav {
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    .section_pic-container{
        margin-left: 10px;
    }
    #profile{
        margin: 2px;
    }
}
